<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          *ngIf="isLogged"
          style="margin-left: 10px; border: none"
          class="btn btn-outline-light"
          routerLink="/index"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a
          style="margin-left: 10px; border: none"
          class="btn btn-outline-light"
          routerLink="/agent"
          >Agente de Transito</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a
          style="margin-left: 10px; border: none"
          class="btn btn-outline-light"
          routerLink="/via"
          >Vias</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a
          style="margin-left: 10px; border: none"
          class="btn btn-outline-light"
          routerLink="/information"
          >Informes</a
        >
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button
        *ngIf="!isLogged"
        class="btn btn-outline-success my-2 my-sm-0"
        routerLink="login"
        type="submit">
        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
      </button>
      <button
        *ngIf="isLogged"
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="onLogOut()"
        type="reset">
        <i class="fas fa-door-open"></i> Cerrar Sesión
      </button>
    </form>
  </div>
</nav>
