<app-header></app-header>

<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <h3>Introduce tu Nueva Contraseña</h3>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
        <div class="mb-3 form group text-center">
          <label for="password">contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required />
        </div>
        <div class="mb-3 form group text-center">
          <label for="confirmpassword">Confirmar contraseña</label>
          <input
            type="password"
            name="confirmpassword"
            id="confirmpassword"
            class="form-control"
            [(ngModel)]="confirmpassword"
            required />
        </div>
        <div class="mb-3 row justify-content-center">
          <button
            class="col-auto text-center btn btn-outline-success btn-block"
            [disabled]="!f.valid"
            type="submit">
            Cambiar Conttraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
