<app-header></app-header>
<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register">Crear cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sendemail">Olvide mi Contraseña</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
        <div class="form-group">
          <label for="firstname">Nombre</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            [(ngModel)]="firstname"
            required />
        </div>
        <div class="form-group">
          <label for="lastname">Apellido</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            [(ngModel)]="lastname"
            required />
        </div>
        <div class="form-group">
          <label for="username">Nombre de Usuario</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            [(ngModel)]="username"
            required />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required />
        </div>
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [(ngModel)]="email"
            required />
        </div>
        <div class="form-group">
          <button
            class="btn btn-outline-success btn-block"
            [disabled]="!f.valid">
            <i class="fas fa-sign-in-alt"></i> Crear Cuenta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
