<app-header></app-header>
<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Crear cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sendemail">Olvide mi Contraseña</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="mb-3">
          <label for="username">Nombre de Usuario</label>
          <input
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            class="form-control"
            [(ngModel)]="username"
            required />
        </div>
        <div class="mb-3">
          <label for="password">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required />
        </div>
        <div class="mb-3 row justify-content-center">
          <button
            class="col-auto text-center btn btn-outline-success btn-block"
            [disabled]="!f.valid"
            type="submit">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
