<app-header></app-header>
<div class="container" id="main-container">
  <div class="row">
    <div class="col-20">
      <div class="form-inline my-class-form-control-group">
        <button
          *ngIf="isAdmin"
          type="button"
          class="btn btn-primary"
          (click)="onOpenModal(null!, 'add')">
          Añadir Agente
        </button>
        <input
          type="text"
          class="form-control"
          style="margin-left: 5%"
          placeholder="search"
          #txtSearch
          (keyup)="onSearchAgent(txtSearch.value)" />
      </div>
      <mat-card>
        <table class="table table-striped" style="margin-left: 1%">
          <thead>
            <tr>
              <th scope="col">Codigo de agente</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Años de Experiencia</th>
              <th scope="col">Codigo de la secretaria de transito</th>
              <th scope="col">Via</th>
              <th scope="col" *ngIf="isAdmin">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agent of agents" [ngStyle]="{ heigth: '100px' }">
              <td scope="row">{{ agent?.code }}</td>
              <td scope="row">{{ agent?.name }}</td>
              <td scope="row">{{ agent?.lastname }}</td>
              <td scope="row">{{ agent?.years }}</td>
              <td scope="row">{{ agent?.codeAgent }}</td>
              <td scope="row">{{ agent.via?.id }}</td>
              <td *ngIf="isAdmin">
                <a
                  class="btn btn-success"
                  style="margin: 5px"
                  (click)="onOpenModal(agent, 'via')"
                  >Asignar Via</a
                >
                <a
                  class="btn btn-warning"
                  style="margin: 5px"
                  (click)="onOpenModal(agent, 'edit')">
                  Editar</a
                >
                <a
                  class="btn btn-danger"
                  style="margin: 5px"
                  (click)="onOpenModal(agent, 'delete')"
                  >Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onSearchAgent(txtSearch.value)">
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
            (ngModelChange)="onSearchAgent(txtSearch.value)">
            <option [ngValue]="2">2 items por pagina</option>
            <option [ngValue]="5">5 items por pagina</option>
            <option [ngValue]="10">10 items por pagina</option>
          </select>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!--add agent-->
<div
  class="modal fade"
  id="addEmployeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true"
  *ngIf="isAdmin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myGroup" (ngSubmit)="onAddAgent(myGroup.value)">
          <div class="form-group">
            <label for="name">Codigo de agente</label>
            <input
              type="text"
              formControlName="code"
              ngModel
              name="code"
              class="form-control"
              id="code"
              placeholder="Codigo de Agente"
              required />
          </div>
          <div class="form-group">
            <label for="email">Nombre</label>
            <input
              type="text"
              ngModel
              name="name"
              formControlName="name"
              class="form-control"
              id="name"
              placeholder="Nombre"
              required />
          </div>
          <div class="form-group">
            <label for="phone">Apellido</label>
            <input
              type="text"
              ngModel
              name="lastname"
              class="form-control"
              formControlName="lastname"
              id="lastname"
              placeholder="Apellido"
              required />
          </div>
          <div class="form-group">
            <label for="phone">Años de Experiencia</label>
            <input
              type="number"
              ngModel
              name="years"
              class="form-control"
              formControlName="years"
              step="any"
              onkeyup="/^\d+(?:\.\d{1,2})?$/.test(this.value) ? 'inherit' : this.value = ''"
              id="years"
              placeholder="Años de Experiencia"
              required />
          </div>
          <div class="form-group">
            <label for="codeAgent">Codigo de la secretaria de transito</label>
            <input
              type="text"
              ngModel
              name="codeAgent"
              class="form-control"
              formControlName="codeAgent"
              id="codeAgent"
              placeholder="Codigo de la secretaria de transito"
              required />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="add-employee-form"
              class="btn btn-secondary"
              data-dismiss="modal">
              Cerrar
            </button>
            <button
              [disabled]="myGroup.invalid"
              type="submit"
              class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="deleteAgentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Eliminar Agente</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar al agente? {{ deleteAgent?.name }}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteAgent(deleteAgent?.id)"
            class="btn btn-danger"
            data-dismiss="modal">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="viaAgentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viaAgentModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder fs-6" id="viaAgentModelLabel">
          Asignar Via Al Agente {{ editAgent?.code }} {{ editAgent?.name }}
          {{ editAgent?.lastname }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group" style="margin-bottom: 5%">
            <label for="name" class="modal-title fw-bolder fs-6"
              >Codigo de Agente: {{ editAgent?.code }}</label
            >
          </div>
          <input
            type="hidden"
            ngModel="{{ editAgent?.id }}"
            name="id"
            class="form-control"
            id="id"
            placeholder="Email" />
          <div class="form-group">
            <label for="via" class="fw-bolder fs-6">Vias</label>
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="opcionSeleccionado"
              [ngModelOptions]="{ standalone: true }"
              placeholder="1">
              <option>Selecciona una opcion...</option>
              <option *ngFor="let via of vias">{{ via.id }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id=""
              data-dismiss="modal"
              class="btn btn-secondary">
              Cerrar
            </button>
            <button
              (click)="onUpdateViaAgent(editForm.value, opcionSeleccionado)"
              data-dismiss="modal"
              class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Agent Modal-->
<div
  class="modal fade"
  id="updateAgentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="agentEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">
          Editar Agente {{ editAgent?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myGroup">
          <div class="form-group">
            <label for="code">Codigo</label>
            <input
              type="text"
              ngModel="{{ editAgent?.code }}"
              formControlName="code"
              name="code"
              class="form-control"
              id="code"
              placeholder="Codigo de Agente" />
          </div>
          <input
            type="hidden"
            ngModel="{{ editAgent?.id }}"
            formControlName="id"
            name="id"
            class="form-control"
            id="id"
            placeholder="Email" />
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              ngModel="{{ editAgent?.name }}"
              formControlName="name"
              name="name"
              class="form-control"
              id="name"
              placeholder="Nombre" />
          </div>
          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input
              type="text"
              ngModel="{{ editAgent?.lastname }}"
              formControlName="lastname"
              name="lastname"
              class="form-control"
              id="lastname"
              placeholder="Apellido" />
          </div>
          <div class="form-group">
            <label for="years">Años de Experiencia</label>
            <input
              type="number"
              ngModel="{{ editAgent?.years }}"
              formControlName="years"
              name="years"
              class="form-control"
              step="any"
              onkeyup="/^\d+(?:\.\d{1,2})?$/.test(this.value) ? 'inherit' : this.value = ''"
              id="years"
              placeholder="Años de Experiencia" />
          </div>
          <div class="form-group">
            <label for="phone">Codigo de la secretaria de transito</label>
            <input
              type="text"
              ngModel="{{ editAgent?.codeAgent }}"
              formControlName="codeAgent"
              name="codeAgent"
              class="form-control"
              id="codeAgent"
              placeholder="Codigo de la secretaria de transito" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="update-agent-form"
              data-dismiss="modal"
              class="btn btn-secondary">
              Cerrar
            </button>
            <button
              (click)="onUpdateAgent(myGroup.value)"
              data-dismiss="modal"
              class="btn btn-primary">
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
