<app-header></app-header>
<div class="container" id="main-container">
  <div class="row">
    <div class="col-20">
      <div class="form-inline my-class-form-control-group">
        <button
          *ngIf="isAdmin"
          type="button"
          class="btn btn-primary"
          (click)="onOpenModal(null!, 'add')">
          Añadir Via
        </button>
        <input
          type="text"
          class="form-control"
          style="margin-left: 5%"
          placeholder="search"
          #txtSearch
          (keyup)="onSearchVia(txtSearch.value)" />
      </div>
      <mat-card>
        <table class="table table-striped" style="margin-left: 1%">
          <thead>
            <tr>
              <th scope="col">Identificación</th>
              <th scope="col">Tipo</th>
              <th scope="col">Sentido</th>
              <th scope="col">Numero</th>
              <th scope="col">Numero de Congestión</th>
              <th scope="col" *ngIf="isAdmin">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let via of vias" [ngStyle]="{ heigth: '100px' }">
              <td scope="row">{{ via?.id }}</td>
              <td scope="row">{{ via?.type }}</td>
              <td scope="row">{{ via?.sense }}</td>
              <td scope="row">{{ via?.number }}</td>
              <td scope="row">{{ via?.congestionNumber }}</td>
              <td *ngIf="isAdmin">
                <a
                  class="btn btn-warning"
                  style="margin: 5px"
                  (click)="onOpenModal(via, 'edit')">
                  Editar</a
                >
                <a
                  class="btn btn-danger"
                  style="margin: 5px"
                  (click)="onOpenModal(via, 'delete')"
                  >Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onSearchVia(txtSearch.value)">
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
            (ngModelChange)="onSearchVia(txtSearch.value)">
            <option [ngValue]="2">2 items por pagina</option>
            <option [ngValue]="5">5 items por pagina</option>
            <option [ngValue]="10">10 items por pagina</option>
          </select>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- Crear Via Modal-->
<div
  class="modal fade"
  id="addViaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Añadir Via</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viaGroup" (ngSubmit)="onAddVia(viaGroup.value)">
          <div class="form-group">
            <label for="code">Tipo de Via</label>
            <select
              class="form-select"
              formControlName="type"
              id="type"
              name="type"
              aria-label="Default select example"
              required>
              <option>Autopista</option>
              <option>Carretera Principal</option>
              <option>Carretera Secundaria</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Sentido de la Via</label>
            <select
              class="form-select"
              aria-label="Default select example"
              ngModel
              formControlName="sense"
              id="sense"
              name="sense"
              required>
              <option>Calle</option>
              <option>Carrera</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lastname">Numero de via</label>
            <input
              type="number"
              ngModel="{{ editVia?.number }}"
              name="number"
              class="form-control"
              formControlName="number"
              id="number"
              placeholder="Numero"
              step="any"
              onkeyup="/^\d+(?:\.\d{1})?$/.test(this.value) ? 'inherit' : this.value = ''"
              required />
          </div>
          <div class="form-group">
            <label for="years">Congestión de la Via</label>
            <input
              type="number"
              ngModel
              name="congestionNumber"
              formControlName="congestionNumber"
              class="form-control"
              step="any"
              onkeyup="/^\d+(?:\.\d{1,2})?$/.test(this.value) ? 'inherit' : this.value = ''"
              id="congestionNumber"
              placeholder="Congestion de la Via"
              required />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-via-form"
              class="btn btn-secondary"
              data-dismiss="modal">
              Cerrar
            </button>
            <button
              [disabled]="viaGroup.invalid"
              type="submit"
              class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Eliminar Via Modal-->
<div
  class="modal fade"
  id="deleteViaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Eliminar Via</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar la Via? {{ deleteVia?.id }}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteVia(deleteVia?.id)"
            class="btn btn-danger"
            data-dismiss="modal">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Via Modal-->
<div
  class="modal fade"
  id="updateViaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="agentEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">
          Editar Via {{ editVia?.id }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viaGroup">
          <div class="form-group">
            <label for="code">Tipo de Via</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="type"
              ngModel="{{ editVia?.type }}">
              <option>Autopista</option>
              <option>Carretera Principal</option>
              <option>Carretera Secundaria</option>
            </select>
          </div>
          <input
            type="hidden"
            ngModel="{{ editVia?.id }}"
            formControlName="id"
            name="id"
            class="form-control"
            id="id"
            placeholder="Email" />
          <div class="form-group">
            <label for="name">Sentido de la Via</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="sense"
              ngModel="{{ editVia?.sense }}">
              <option>Calle</option>
              <option>Carrera</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lastname">Numero de via</label>
            <input
              type="number"
              ngModel="{{ editVia?.number }}"
              formControlName="number"
              name="number"
              class="form-control"
              id="number"
              placeholder="Numero"
              step="any"
              onkeyup="/^\d+(?:\.\d{1})?$/.test(this.value) ? 'inherit' : this.value = ''" />
          </div>
          <div class="form-group">
            <label for="years">Congestión de la Via</label>
            <input
              type="number"
              ngModel="{{ editVia?.congestionNumber }}"
              formControlName="congestionNumber"
              name="congestionNumber"
              class="form-control"
              step="any"
              onkeyup="/^\d+(?:\.\d{1,2})?$/.test(this.value) ? 'inherit' : this.value = ''"
              id="congestionNumber"
              placeholder="Congestion de la Via" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="update-agent-form"
              data-dismiss="modal"
              class="btn btn-secondary">
              Cerrar
            </button>
            <button
              (click)="onUpdateVia(viaGroup.value)"
              data-dismiss="modal"
              class="btn btn-primary">
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
