<app-header></app-header>
<div class="container" id="main-container">
  <div class="row">
    <div class="col-20">
      <div class="form-inline my-class-form-control-group">
        <input
          type="text"
          class="form-control"
          style="margin-left: 5%"
          placeholder="search"
          #txtSearch
          (keyup)="onSearch(txtSearch.value)" />
      </div>
      <mat-card>
        <table class="table table-striped" style="margin-left: 1%">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre del Agente</th>
              <th scope="col">Codigo del Agente</th>
              <th scope="col">Numero de Via</th>
              <th scope="col">Direccion</th>
              <th scope="col" *ngIf="isAdmin">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of infos" [ngStyle]="{ heigth: '100px' }">
              <td scope="row">{{ info?.id }}</td>
              <td scope="row">{{ info?.nameAgent }}</td>
              <td scope="row">{{ info?.codeAgent }}</td>
              <td scope="row">{{ info.via?.id }}</td>
              <td scope="row">{{ info?.direction }}</td>
              <td *ngIf="isAdmin">
                <a
                  class="btn btn-danger"
                  style="margin: 5px"
                  (click)="onOpenModal(info, 'delete')"
                  >Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onSearch(txtSearch.value)">
          </ngb-pagination>

          <select
            class="custom-select"
            style="width: auto"
            [(ngModel)]="pageSize"
            (ngModelChange)="onSearch(txtSearch.value)">
            <option [ngValue]="2">2 items por pagina</option>
            <option [ngValue]="5">5 items por pagina</option>
            <option [ngValue]="10">10 items por pagina</option>
          </select>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- Eliminar Via Modal-->
<div
  class="modal fade"
  id="deleteInfoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Eliminar Informacion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Estas seguro de eliminar la Información almacenada?
          {{ deleteInfo?.id }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteInfo(deleteInfo?.id)"
            class="btn btn-danger"
            data-dismiss="modal">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
