/* You can add global styles to this file, and also import other style files */
.card-body {
    flex: 4 1 auto;
    padding: 2rem 0rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-class-form-control-group{
    display:flex;
    align-items:Center;
  }