<app-header></app-header>
<div class="container mt-4 col-lg-4">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-label="Slide 1"
        aria-current="true"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class=""></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class=""></button>
    </div>
    <div class="carousel-inner text-center">
      <div
        class="carousel-item carousel-item-next carousel-item-start"
        data-bs-interval="10000">
        <div class="card" style="width: 100">
          <img
            src="../assets/images/carrousel/Transito.png"
            class="card-img-top d-block w-100"
            alt="..." />
          <div class="card-body" style="flex: 4 1 auto; padding: 2rem 0rem">
            <h5 class="card-title">Agente de Transito</h5>
            <p class="card-text">
              Crea, edita, elimina y asigna un agente de transito a una vía.
            </p>
            <a routerLink="/agent" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center" data-bs-interval="2000">
        <div class="card" style="width: 100">
          <img
            src="../assets/images/carrousel/v1.png"
            alt="..."
            class="card-img-top d-block w-100" />
          <div class="card-body" style="flex: 4 1 auto; padding: 2rem 0rem">
            <h5 class="card-title">Vias</h5>
            <p class="card-text">Crea, edita, elimina las Vías.</p>
            <a routerLink="/via" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="carousel-item active carousel-item-start text-center">
        <div class="card" style="width: 100">
          <img
            src="../assets/images/carrousel/informe.png"
            class="card-img-top d-block w-100"
            alt="..." />
          <div class="card-body" style="flex: 4 1 auto; padding: 2rem 0rem">
            <h5 class="card-title">Informe</h5>
            <p class="card-text">
              Menú para ver las vias que han sido asignadas a los agentes de
              transito.
            </p>
            <a routerLink="/information" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
