<app-header></app-header>
<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Crear cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/sendemail"
            >Olvide mi Contraseña</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSendEmail()" novalidate>
        <div class="mb-3 form group text-center">
          <label class="text-info"
            >Te enviaremos un correo para recuperar la contraseña</label
          >
          <input
            type="text"
            name="mailTo"
            id="mailTo"
            class="form-control"
            [(ngModel)]="mailTo"
            placeholder="Nombre de Usuario o Email"
            required />
        </div>
        <div class="mb-3 row justify-content-center">
          <button
            class="col-auto text-center btn btn-outline-success btn-block"
            [disabled]="!f.valid"
            type="submit">
            Enviar Correo
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
